{% extends "base.html" %}

{% block title %}
    IesProjects - Projects
{% endblock %}

{% block body %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/projects/projects.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/projects/map.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/projects/filter_project.js') }}" defer></script>

    <!-- Confirmation Modal -->
    <div class="modal fade" id="confirmDeleteProjectModal" tabindex="-1" aria-labelledby="confirmDeleteProjectModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteProjectModalLabel">დადასტურება</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ნამდვილად გსურთ ამ პროექტის წაშლა?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">გაუქმება</button>
                    <button type="button" class="btn btn-danger" id="confirmDeleteProjectButton">წაშლა</button>
                </div>
            </div>
        </div>
    </div>

    <div class="filterMapDiv">
        {% include "filter_project.html" %}

        <div id="mapDiv" class="card mt-1">
            <div id="map" 
                style="width: 100%; height:100%; border: 1px solid #CCC; border-radius: 5px; margin-top:0px;">
            </div>
        </div>
    </div>
    <ul class="list-group list-group-light">
        <li class="list-group-item px-3 border-0">
            <a type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#createProjectModal">პროექტის დამატება</a>
        </li>
    </ul>

    <!-- The CreateProjectModal -->
    {% include "create_project.html" %}
    {% include "edit_project.html" %}
    
    <div class="table-responsive-xxl text-center mt-1 mb-3" style="font-size: x-small;">
        <table class="table align-middle table-bordered border-muted mb-0 bg-white table-striped">
            <thead class="table-primary">
                <tr>
                    <th>პროექტის სახელი</th>
                    <th>ხელშეკრულების ნომერი</th>
                    <th>დაწყების დღე</th>
                    <th>დასრულების დღე</th>
                    <th>დამკვეთი</th>
                    <th>ადგილმდებარეობა</th>
                    <th>განედი</th>
                    <th>გრძედი</th>
                    <th>გეოლოგიური კვლევა</th>
                    <th>გეოფიზიკური კვლევა</th>
                    <th>სეისმური საშიშროების შეფასება</th>
                    <th>გეოდეზიური კვლევა</th>
                    <th>სხვა ტიპის კვლევა</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="projectTableBody">
                <!-- Data will be populated dynamically here -->
            </tbody>
        </table>
    </div>
{% endblock %}