<!-- The Modal -->
<div class="modal" id="createProjectModal">
    <div class="modal-dialog">
        <div class="modal-content">
    
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">ახალი პროექტის დამატება</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
    
            <!-- Modal body -->
            <div class="modal-body">
                <form class="row mt-2" id="addProjectForm" enctype="multipart/form-data" onsubmit="createProjectForm(event)">
                    <div class="mb-2">
                        <label for="projectName"><span class="text-danger me-1">*</span>პროექტის სახელი:</label>
                        <input type="text" class="form-control mt-2" id="projectName" name="projects_name" required>
                    </div>
                    <div class="mb-2">
                        <label for="contractNumber">ხელშეკრულების ნომერი:</label>
                        <input type="text" class="form-control mt-2" id="contractNumber" name="contract_number">
                    </div>
                    <div class="col">
                        <label for="startTime"><span class="text-danger me-1">*</span>დაწყების დღე:</label>
                        <input type="date" class="form-control mt-2" id="startTime" name="start_time" required>
                    </div>
                    <div class="col mb-2">
                        <label for="endTime"><span class="text-danger me-1">*</span>დასრულების დღე:</label>
                        <input type="date" class="form-control mt-2" id="endTime" name="end_time" required>
                    </div>
                    <div class="mb-2">
                        <label for="contractor">დამკვეთი:</label>
                        <input type="text" class="form-control mt-2" id="contractor" name="contractor">
                    </div>
                    <div class="col">
                        <label for="projLatitude"><span class="text-danger me-1">*</span>განედი:</label>
                        <input type="number" step="any" class="form-control mt-2" id="projLatitude" name="proj_latitude" required>
                    </div>
                    <div class="col mb-3">
                        <label for="projLongitude"><span class="text-danger me-1">*</span>გრძედი:</label>
                        <input type="number" step="any" class="form-control mt-2" id="projLongitude" name="proj_longitude" required>
                    </div>
                    <div class="mb-3">
                        <label for="projLocation"><span class="text-danger me-1">*</span>პროექტის მდებარეობა:</label>
                        <input type="text" class="form-control mt-2" id="projLocation" name="proj_location" required>
                    </div>
                    <div class="mb-3">
                        <label for="images" class="form-label">პროექტის სურათები:</label>
                        <input type="file" class="form-control" id="images" name="images" accept="image/jpeg, image/png, image/jpg" multiple>
                    </div>

                    <div class="d-flex justify-content-center align-items-center m-2">
                        <button type="submit" class="btn btn-primary me-2">პროექტის დამატება</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>