<!-- Create Role Modal -->
<div class="modal fade" id="createRoleModal" tabindex="-1" aria-labelledby="createRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createRoleModalLabel">როლის შექმნა</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createRoleForm" class="d-flex justify-content-center align-items-center row">
                    <div class="row">
                        <div class="mb-3">
                            <label for="roleName" class="form-label">როლის სახელი</label>
                            <input type="text" class="form-control" id="roleName" name="name" required>
                        </div>
                    </div>
                    <div class="row ms-3">
                        <div class="form-check col">
                            <input type="checkbox" class="form-check-input" id="isAdmin" name="is_admin">
                            <label class="form-check-label" for="isAdmin">ადმინისტრატორი</label>
                        </div>
                        <div class="form-check col">
                            <input type="checkbox" class="form-check-input" id="canUsers" name="can_users">
                            <label class="form-check-label" for="canUsers">მომხმარებლების მართვა</label>
                        </div>
                    </div>
                    <div class="row ms-3">
                        <div class="form-check col">
                            <input type="checkbox" class="form-check-input" id="canProject" name="can_project">
                            <label class="form-check-label" for="canProject">პროექტების მართვა</label>
                        </div>
                        <div class="form-check col">
                            <input type="checkbox" class="form-check-input" id="canGeophysic" name="can_geophysic">
                            <label class="form-check-label" for="canGeophysic">გეოფიზიკური მონაცემები</label>
                        </div>
                    </div>
                    <div class="row ms-3">
                        <div class="form-check col">
                            <input type="checkbox" class="form-check-input" id="canGeologic" name="can_geologic">
                            <label class="form-check-label" for="canGeologic">გეოლოგიური მონაცემები</label>
                        </div>
                        <div class="form-check col">
                            <input type="checkbox" class="form-check-input" id="canHazard" name="can_hazard">
                            <label class="form-check-label" for="canHazard">Hazard მონაცემები</label>
                        </div>
                    </div>
                    <div class="row ms-3">
                        <div class="form-check col">
                            <input type="checkbox" class="form-check-input" id="canGeodetic" name="can_geodetic">
                            <label class="form-check-label" for="canGeodetic">გეოდეზიური მონაცემები</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">როლის შექმნა</button>
                </form>
                <div id="createRoleAlert" class="mt-3"></div>
            </div>
        </div>
    </div>
</div>