<div class="card mt-2 filterDiv">
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>პროექტის სახელი:</th>
                <td id="projectName"></td>
            </tr>
            <tr>
                <th>ხელშეკრულების ნომერი:</th>
                <td id="contractNumber"></td>
            </tr>
            <tr>
                <th>დაწყების დღე:</th>
                <td id="startTime"></td>
            </tr>
            <tr>
                <th>დასრულების დღე:</th>
                <td id="endTime"></td>
            </tr>
            <tr>
                <th>პროექტის მდებარეობა:</th>
                <td id="projLocation"></td>
            </tr>
            <tr>
                <th>განედი:</th>
                <td id="projLatitude"></td>
            </tr>
            <tr>
                <th>გრძედი:</th>
                <td id="projLongitude"></td>
            </tr>
        </tbody>
    </table>
</div>
