<!-- Confirmation Modal -->
<div class="modal fade" id="confirmDeleteGeophysicGeoradarModal" tabindex="-1" aria-labelledby="confirmDeleteGeophysicGeoradarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteGeophysicGeoradarModalLabel">დადასტურება</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ნამდვილად გსურთ გეორადარის ჩანაწერის წაშლა?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">გაუქმება</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteGeophysicGeoradarButton">წაშლა</button>
            </div>
        </div>
    </div>
</div>

<!-- The Combined GeophysicGeoradarModal Modal -->
<div class="modal fade" id="GeophysicGeoradarModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
    
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="GeophysicGeoradarModalTitle"></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
    
            <!-- Modal body -->
            <div class="modal-body">
                <form class="row mt-2" id="GeophysicGeoradarForm" enctype="multipart/form-data">
                    <input type="hidden" id="geophysicGeoradarId" name="id">
                    <div class="col">
                        <label for="georadar_latitude" class="form-label"><span class="text-danger me-1">*</span>განედი (y):</label>
                        <input type="number" step="any" class="form-control" id="georadar_latitude" name="latitude" required>
                    </div>
                    <div class="col">
                        <label for="georadar_longitude" class="form-label"><span class="text-danger me-1">*</span>გრძედი (x):</label>
                        <input type="number" step="any" class="form-control" id="georadar_longitude" name="longitude" required>
                    </div>
                    <div class="mb-3">
                        <label for="georadar_profile_length" class="form-label"><span class="text-danger me-1">*</span>პროფილის სიგრძე:</label>
                        <input type="number" step="any" class="form-control" id="georadar_profile_length" name="profile_length" required>
                    </div>
                    <div class="mb-3">
                        <label for="georadar_archival_img" class="form-label">საარქივო Image:</label>
                        <input type="file" class="form-control" id="georadar_archival_img" name="archival_img" accept="image/jpeg, image/png, image/jpg">
                    </div>
                    <div class="mb-3">
                        <label for="georadar_archival_excel" class="form-label">საარქივო Excel:</label>
                        <input type="file" class="form-control" id="georadar_archival_excel" name="archival_excel" accept=".xls, .xlsx">
                    </div>
                    <div class="mb-3">
                        <label for="georadar_archival_pdf" class="form-label">საარქივო PDF:</label>
                        <input type="file" class="form-control" id="georadar_archival_pdf" name="archival_pdf" accept=".pdf">
                    </div>

                    <div class="d-flex justify-content-center align-items-center m-2">
                        <button type="submit" class="btn btn-primary me-2" id="submitGeophysicGeoradarBtn"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
